<table mat-table [dataSource]="portfolioStockList" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let item">{{ item.stock.id }}</td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let item">{{ item.stock.name }}</td>
    <td mat-footer-cell *matFooterCellDef>Summary</td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>Price</th>
    <td mat-cell *matCellDef="let item">{{ item.stock.price | currency }}</td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef>Quantity</th>
    <td mat-cell *matCellDef="let item">{{ item.quantity }}</td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="total">
    <th mat-header-cell *matHeaderCellDef>Total</th>
    <td mat-cell *matCellDef="let item"><strong>{{ ( item.stock.price  * item.quantity ).toFixed( 2 ) | currency }}</strong></td>
    <td mat-footer-cell *matFooterCellDef><strong>{{ totalSumm() | currency }}</strong></td>
  </ng-container>

  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef>Category</th>
    <td mat-cell *matCellDef="let item">{{ item.stock.category }}</td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['id', 'name', 'price', 'quantity', 'total', 'category']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['id', 'name', 'price', 'quantity', 'total', 'category'];" (click)="putStockDataToDialog( row )"></tr>

  <tr mat-footer-row *matFooterRowDef="['id', 'name', 'price', 'quantity', 'total', 'category']"></tr>
</table>
