<mat-form-field class="w100">
  <input matInput (keyup)="applyFilter( $event.target.value )" placeholder="Filter">
</mat-form-field>

<table mat-table [dataSource]="mainStockList" matSort class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
    <td mat-cell *matCellDef="let stock">{{ stock.id }}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <td mat-cell *matCellDef="let stock">{{ stock.name }}</td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
    <td mat-cell *matCellDef="let stock"><strong>{{ stock.price | currency }}</strong></td>
  </ng-container>

  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
    <td mat-cell *matCellDef="let stock">{{ stock.category }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['id', 'name', 'price', 'category']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['id', 'name', 'price', 'category'];" (click)="putStockDataToDialog( row )"></tr>
</table>
