.header-navbar {
  display: flex;
  justify-content: space-between;
  &__start {

  }
  &__end {
    font-size: 16px;
    color: #ffffff;
  }
}

.navbar-menu {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
  &__item {

  }
  &__link {

  }
}
