<mat-toolbar color="primary" class="header-navbar">
  <div class="header-navbar__start">
    <ul class="navbar-menu">
      <li class="navbar-menu__item">
        <a mat-flat-button routerLink="/markets" class="navbar-menu__Link">Markets</a>
      </li>
      <li class="navbar-menu__item">
        <a mat-flat-button routerLink="/portfolio" class="navbar-menu__Link">Portfolio</a>
      </li>
    </ul>
  </div>
  <div class="header-navbar__end">
    <span>{{ buyingPower | currency }}</span>
  </div>
</mat-toolbar>
