.mat-simple-snackbar-action {
  color: #ffffff;
}

.alert-snack-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__message {

  }
  &__action {
    margin: 0 0 0 0.5rem;
    padding: 0;
    border: none;
    color: #ffffff;
    background: transparent;
    outline: none;
    cursor: pointer;
    &:active, &:focus {
      outline: none;
    }
  }
}
