@import "../node_modules/normalize-scss/sass/normalize";
@include normalize();

body {
  font-family: 'Roboto', Tahoma, sans-serif;
}

.mat-snack-bar-container {
  border-radius: 0 !important;
  background: #3f51b5;
  &__error {
    background: #b5161b;
  }
}

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
