.dialog {
  &__section {
    margin-bottom: 1rem;
  }
  &__form-field {
    width: 100%;
  }
  &__input {
    width: 100%;
  }
  &__buttons-wrapper {
    display: flex;
    justify-content: space-between
  }
  &__info-text{
    font-size: 12px;
    &--danger {
      color: #e10c00;
    }
  }
}
