<h1 *ngIf="data.stock?.name" mat-dialog-title>{{ data.stock?.name }}</h1>

<div mat-dialog-content *ngIf="data.type === 'BUY'">
  <section class="dialog__section">
    <mat-form-field class="dialog__form-field">
      <input matInput min="1" type="number" placeholder="Quantity" class="dialog__input" [(ngModel)]="quantity" (change)="ckeckInput()">
    </mat-form-field>
  </section>

  <section class="dialog__section">
    <p>Total: <strong>{{ ( data.stock.price * quantity ).toFixed( 2 ) | currency }}</strong></p>
  </section>

  <section *ngIf="( data.stock.price  * quantity ).toFixed( 2 ) > buyingPower" class="dialog__section">
    <span class="dialog__info-text dialog__info-text--danger">Not enough buying power.</span>
  </section>
</div>

<div class="dialog__buttons-wrapper" *ngIf="data.type === 'BUY'" mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false" color="primary">Cancel</button>
  <button
      [disabled]="( data.stock.price * quantity ).toFixed( 2 ) > buyingPower"
      mat-button
      [mat-dialog-close]="true"
      color="primary"
      (click)="buyStock()"
  >Buy</button>
</div>



<div mat-dialog-content *ngIf="data.type === 'SELL'">
  <section class="dialog__section">
    <mat-form-field class="dialog__form-field">
      <input matInput min="1" [max]="data.quantity" type="number" placeholder="Quantity" class="dialog__input" [(ngModel)]="quantity" (change)="ckeckInput()">
    </mat-form-field>
  </section>

  <section class="dialog__section">
    <p>Total: <strong>{{ ( data.stock.price * quantity ).toFixed( 2 ) | currency }}</strong></p>
  </section>

  <section *ngIf="quantity > data.quantity" class="dialog__section">
    <span class="dialog__info-text dialog__info-text--danger">You can sell maximum {{ data.quantity }} shares.</span>
  </section>
</div>

<div class="dialog__buttons-wrapper" *ngIf="data.type === 'SELL'" mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false" color="primary">Cancel</button>
  <button
      [disabled]="quantity > data.quantity"
      mat-button
      [mat-dialog-close]="true"
      color="primary"
      (click)="sellStock()"
  >Sell</button>
</div>
